body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(headerrealestate.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.lightbox {

}
}

h1{
  color: #212121;
  font-size: 3rem;
  background-color: rgb(253, 253, 253,0.7);
  padding: 1rem;
  border-radius: 1rem;
}
hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 0;  
}


.buffer {
  height: 0.1rem;
}

.btn {
  font-weight: 700;
  border-radius: 1rem;
  text-transform: uppercase;
  color: #212121;
}

.btn-primary {
  background-color: rgb(253, 253, 253,0.9);
  border-color: #FF5000;
}

.btn-primary:hover {
  background-color: #FF5000;
  border-color: #FF5000;
}
.btn-xl {
  padding: 1rem 2rem;
}
